/* Variable Styles */
:root {
    /* Color Palette */
    --black: rgb(49,38,44);
    --rust: rgb(222,166,55);
    --white: rgb(239,224,216);
    --gray: rgb(114,102,103);
    --green: rgb(42,76,49);
    --light-blue: rgb(36,187,206);
    --dark-blue: rgb(40,85,153);
    --violet: rgb(119,47,97);
}
/* Remove Margins, Change model, Smooth scroll */
* {box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Set Font style and color */
body {
    color: var(--green);
    font-family: Arial, Helvetica, sans-serif;
}
/* Header Nav Styles Start */
header a {
    text-decoration: none;
    color: var(--white);
    
}

header {
    padding: 20px 20px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    }

header h1 {
    font-size: 3vw;
    }

header h1 a {
    text-shadow: .2vw .15vw var(--violet);
}
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 10px 15px;
    font-size: 20px;
    text-shadow: 1px 1px 1px var(--violet);
}

/* Hero Styles Start */
.hero {
    background-image: url("../Images/hero.jpg");
    height: 250px;
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
}
.catch-phrase h1{
     padding: 20px;
     margin: 30px;
     background-color: rgb(49,38,44, .4);
     font-weight: bold;
     font-size: small;
     color: var(--white);
     text-shadow: 0 0 12p rgb(42,76,49);
     text-align: center;
     border: 5px solid rgb(36,187,206, .75);
     box-shadow:
     inset -2px -2px 8px 4px var(--light-blue),
     inset 2px 2px 8px 4px var(--light-blue), 
     0 0 10px 5px var(--light-blue);     
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        padding: 5px;
        width:100%;
       }

    header h1 {
        width: 100%;
        text-align: center;
              
    }

    header h1 a {
        font-size: 40px;
    
    }

    header nav ul {
        width: 100%;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    header nav ul a {
        font-size: 20px;
        
    }

}


  

