/* Variable Styles */
:root {
    /* Color Palette */
    --black: rgb(49,38,44);
    --rust: rgb(222,166,55);
    --white: rgb(239,224,216);
    --gray: rgb(114,102,103);
    --green: rgb(42,76,49);
    --light-blue: rgb(36,187,206);
    --dark-blue: rgb(40,85,153);
    --violet: rgb(119,47,97);
}
/* Remove Margins,set model, Smooth scroll */
* {box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Set Font style and color */
body {
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
}
/* Header Nav Styles Start */
header a {
    text-decoration: none;
    color: var(--white);
    
}

header {
    padding: 20px 20px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    }

header h1 {
    font-size: 3vw;
    }

header h1 a {
    text-shadow: .2vw .15vw var(--violet);
}
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
   
}

header nav ul li a {
    padding: 15px 15px 0 15px;
    margin: 15px;
    font-size: 20px;
    text-shadow: 1px 1px 1px var(--violet);    
    box-shadow:  0 8px 6px -6px rgb(119,47,97, .8);
   
}


/* Hero Styles Start */
.hero {
    background-image: url("../Images/hero.jpg");
    height: 250px;
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
}
.catch-phrase h1{
     padding: 20px;
     margin: 30px;
     background-color: rgb(49,38,44, .4);
     font-weight: bold;
     font-size: small;
     color: var(--white);
     text-shadow: 0 0 12p rgb(42,76,49);
     text-align: center;
     border: 5px solid rgba(36,187,206, 0.89);
     box-shadow:
     inset -2px -2px 8px 4px var(--light-blue),
     inset 2px 2px 8px 4px var(--light-blue), 
     0 0 10px 5px var(--light-blue);     
}

/* About Section Styles Start */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    }


.section-title{
    margin: 10px;
    padding: 10px;
    width: 25%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    text-align: right;
    
    
}

.about-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 70%;
    padding: 20px;
    margin-left: 15px;
    box-shadow: -8px 0 6px -6px rgb(36,187,206, .8);
    
}
.about p{
    font-size: smaller;
}

.about-content p:nth-child(odd){
    margin-bottom: 15px;    
}
/* About Styles End */

/* Work Section Styles Start */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;  
    
}

.grid-wrapper {
    display:flex;
    justify-content: flex-start;
    padding: 20px;
    width: 70%;
    margin-left: 15px;
    align-items: flex-end;
    box-shadow: -8px 0 6px -6px rgb(36,187,206, .8);
    
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        padding: 5px;
        width:100%;
       }

    header h1 {
        width: 100%;
        text-align: center;
              
    }

    header h1 a {
        font-size: 40px;
    
    }

    header nav ul {
        width: 100%;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    header nav ul a {
        font-size: 20px;
        
    }

}


  

